@media screen and  (min-width: 961px) {
    .timeline-outer-div {
        /* background-color: #389CF4; */
        min-width: 1200px;
        max-width: 1900px;
        min-height: 700px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }

    .timeline-left-wrapper {
        position: relative;
    }

    .timeline-header {
        position: absolute;
        top: 20px;
        left: 15px;
        /* background-color: aquamarine; */
        font-size: 55px;
        width: 500px;
        line-height: 1.3;
    }

    .timeline-header span {
        font-weight: 700;
        font-size: 40px;
        color: #389CF4;
        font-style: italic;
    }

    .timeline-stages-wrapper {
        background-color: rgb(241, 241, 241);
        padding: 70px;
        display: flex;
        /* min-width: 40%; */
        gap: 3.5em;
        /* overflow: hidden; */
    }

    .timeline-stage-div {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* overflow: hidden; */
    }

    .timeline-stage-time {
        font-size: 12px;
        font-weight: 600;
        width: 170px;
        height: 40px;
        letter-spacing: 0.1em;
        border: 1px solid rgb(192, 192, 192);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', Helvetica, sans-serif;
    }

    .stage-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeline-line {
        height: 50px;
        width: 10px;
    }

    .timeline-stage-descrip {
        text-align: center;
        line-height: 1.2;
        width: 100%;
        font-size: 13px;
        padding: 10px 0px;
    }

    .timeline-stage-descrip span {
        font-weight: 600;
        color: #952d95
    }

    .timeline-stage-img {
        margin-top: 5%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        /* border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black; */
        border-bottom: 5px solid black;
        /* border-radius: 50%; */
    }

   .timeline-stage-img:hover {
       cursor: pointer;
   }

 
}

@media screen and  (max-width: 960px) {
   


}