@media screen and  (min-width: 961px) {
    .timeline-outer-div {
        /* background-color: aliceblue; */
        position: relative;
        min-width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        border-top: 1px solid black;
    }

    .timeline-inner-div {
        background-color: white;
        min-width: 1200px;
        max-width: 1600px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        border-right: 1px solid black;
        border-left: 1px solid black;
    }

    .timeline-inner-top {
        position: relative;
        max-width: 1200px;
        min-height: 50vh;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .timeline-text-wrapper {
        display: block;
        height: 100%;
        width: 100%;
        margin-left: 50px;
    }

    .timeline-header {
        font-size: 50px;
        font-weight: 600;
        text-transform: uppercase;
        /* width: 100%; */
        line-height: 1.3;
        width: 80%;
        margin-top: 50px;
    }

    .timeline-main-header {
        margin-top: 10px;
        font-weight: 300;
        font-size: 35px;
        color: #389CF4;
    }

    .timeline-inner-bottom {
        display: flex;
        max-width: 1200px;
        min-height: 50vh;
        border-top: 1px solid black;
        z-index: 10;
    }

    .timeline-stages-inner-wrapper:last-child {
        border: none;
    }

    .timeline-stages-inner-wrapper:nth-last-child(2) {
        background-color: 
    }

    .timeline-stages-inner-wrapper {
        /* background-color: antiquewhite; */
        min-height: 550px;
        width: 33.22%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        border-right: 1px solid black;
    }

    .timeline-stages-inner-top {
        /* min-height: 250px; */
        width: 100%;
        border: 1px solid black;
        
    }

    .timeline-stage-time-main {
        font-size: 40px;
        font-weight: 100;
        color: #389CF4;
        display: flex;
        align-items: center;
        justify-content: center;
        /* transform: rotate(270deg); */
    }

    .timeline-stage-time {
        margin-top: 10px;
        font-family: 'Poppins', Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 600;
    }

    .timeline-stage-div {
        height: 50%;
        display: block;
        position: relative;
    }

    .timeline-stage-descrip-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 50px;
        /* background-color: rgb(241, 241, 241) */
    }

    .timeline-stage-descrip {
        margin-top: 20px;
        line-height: 1.2;
        /* width: 100%; */
        font-size: 25px;
        font-weight: 400;
        width: 60%;
        height: 50%;
        text-align: center;
    }

    .timeline-stage-img {
        display: inline-block;
        width: 100%;
        height: 40%;
        object-fit: cover;
        border-bottom: 1px solid black;
    }


 
}

@media screen and  (max-width: 960px) {
   


}