@media screen and (min-width: 961px) {
    .about-outer-div {
        position: relative;
        width: 100vw;
        /* height: 100vh; */
        display: flex;
        justify-content: center;
        /* align-items: center; */
        overflow: hidden;
    }

    .about-inner-div {
        position: relative;
        min-width: 1200px;
        max-width: 1200px;
        height: 650px;
        margin-top: 20vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        border: 2px solid black
    }

    .about-left-div {
        /* background-color: antiquewhite; */
        /* border-right: 2px solid black; */
        height: 100%;
        display: inline-block;
        flex-direction: column;
        max-width: 600px;
        gap: 3rem;
        overflow: hidden;
    }

    .about-right-div {
        width: 50%;
        height: 100%;
        display: inline-block;
        overflow: hidden;
        position: relative;
        overflow: hidden;
    }

    .about-text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 6em;
        width: 100%;
        overflow: hidden;
        margin-top: 50px;
        margin-left: 2.5em;
    }

    .about-header {
        /* color: #389CF4; */
        font-weight: 300;
        font-size: 2em;
        margin-top: 10px;

    }

    .about-header-second {  
        font-size: 3.2em;
        font-weight: 600;
        overflow: hidden;
    }

    .about-descrip-div {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        line-height: 1.5;
    }

    .about-descrip-text {
        width: 95%;
        display: flex;
        line-height: 1.5;
        font-size: 1em;
        padding-bottom: 20px;
    }
    
    .about-descrip-div span {
        font-size: 1.5em;
        padding-right: 10px;
    }

    .about-img-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        
    }

    .about-pic {
        width: 300px;
        height: 500px;
        object-fit: cover;
        border-top-left-radius: 100px;
        /* outline: 2px dotted black;
        outline-offset: 10px; */
        margin-left: 2.5em;
        box-shadow: rgba(91, 124, 252, 0.8) -5px 5px, rgba(97, 129, 253, 0.5) -10px 10px, rgba(134, 158, 250, 0.3) -15px 15px, rgba(154, 173, 250, 0.2) -20px 20px, rgba(187, 199, 250, 0.1) -25px 25px;
        
    }

    .jojo-pic {
        width: 200px;
        height: 200px;
        object-fit: cover;
        position: absolute;
        top: 13%;
        left: 60%;
        outline: 5px solid #5b7cfc;
        outline-offset: 3px;
    }


 
}
