@media screen and (min-width: 961px) {
    /* DEVELOP COMPONENT */
    .develop-outer-div {
        /* background-color: rgb(241, 241, 241); */
        position: relative;
        min-width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-top: 50px; */
        overflow: hidden;
        border-top: 2px solid black;
    }

    .develop-inner-div {
        background-color: white;
        min-width: 1200px;
        max-width: 1600px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
        overflow: hidden;
        border-right: 2px solid black;
        border-left: 2px solid black;
    }

    .develop-time {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        width: 200px;
        height: 50px;
        background-color: rgb(241, 241, 241);
        font-family: 'Poppins', Helvetica, sans-serif;
    }
    
    .develop-top-div {
        border-bottom: 2px solid black;
    }

    .develop-top-div, .develop-bottom-div {
        /* background-color: antiquewhite; */
        width: 100%;
        min-height: 50vh;
        display: flex;
    }

    .develop-bottom-left-div, .develop-bottom-right-div {
        width: 50%;
        display: block;
        height: 50vh;
        overflow: hidden;
    }

    .develop-bottom-left-div {
        background-color: #389CF4;
        background-image: url("../../../../images/splash/code.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 130%;
    }

    .develop-text-wrapper {
        /* background-color: antiquewhite; */
        display: flex;
        margin-top: 50px;
        max-width: 1200px;
    }

    .develop-text-wrapper a {
        text-decoration: underline;
        font-weight: 500;
    }

    .develop-header-div, .develop-descrip-div {
        display: inline-block;
        position: relative;
        padding: 50px;
    }

    .develop-header-div {
        /* background-color: aliceblue; */
        width: 40%;
        height: 100%; 
    }

    .develop-header, .develop-header span {
        font-size: 55px;
        font-weight: 600;
        line-height: 1.2;
        text-transform: uppercase;
    }

    .develop-header-second {
        color: #389CF4;
        margin-top: 10px;
        font-size: 30px;
    }

    .develop-descrip-div {
        width: 60%;
    }

    .develop-descrip {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
    }

    .develop-stage-skills-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 50;
    }

    .develop-stage-skills-header, .develop-stage-project-header {
        /* color: #389CF4; */
        font-weight: 700;
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        font-size: 30px;
        /* margin-left: 50px; */
    }

    .develop-stage-skills-header {
        justify-content: center;
    }

    .develop-stage-project-header  {
        margin-left: 100px;
    }

    .develop-stage-skills-list {
        width: 90%;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        /* border-top: 1px solid black;
        border-bottom: 2px solid black; */
    }

    .develop-skill-wrapper {
        /* background-color: #389CF4; */
        width: 20%;
        height: 80px;
    }

    .develop-skill-wrapper:last-child {
       border: none;
    }

    .skill {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
    }

    #skill-icon {
        color: rgb(75, 75, 75);
    }

    .skill p {
        font-size: 15px;
        padding-top: 10px;
        font-weight: 300;
    }

}


@media screen and (max-width: 960px) {
      
}