@media screen and (min-width: 961px) {
    /* DEVELOP COMPONENT */
    .develop-outer-div {
        /* background-color: rgb(241, 241, 241); */
        position: relative;
        min-width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-top: 50px; */
        overflow: hidden;
        border-top: 1px solid black;
    }

    .develop-inner-div {
        /* background-color: rgb(161, 214, 214); */
        display: flex;
        flex-direction: column;
        /* margin-top: 50px; */
        position: relative;
        min-width: 1200px;
        max-width: 1200px;
        min-height: 600px;
    }

    .develop-circle {
        position: absolute;
        top: -20px;
        left: 533px;
        z-index: 5;
        width: 750px;
    }

    .projects-cta {
        position: absolute;
        top: 100px;
        left: 325px;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.1em;
    }

    .develop-top-div {
        display: flex;
        justify-content: space-between;
    }

    .develop-time {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        width: 180px;
        height: 50px;
        background-color: rgb(241, 241, 241);
        font-family: 'Poppins', Helvetica, sans-serif;
    }

    .develop-text-wrapper {
        width: 40%;
        /* background-color: antiquewhite; */
        margin-left: 15px;
        margin-top: 20px;
    }

    .develop-text-wrapper a {
        text-decoration: underline;
        font-weight: 500;
    }

    .develop-header {
        font-size: 45px;
        font-weight: 200;
        line-height: 1.2;
        /* text-transform: uppercase; */
    }

    .develop-header span {
        font-weight: 200;
        color: #389CF4;
        text-transform: uppercase;
        font-size: 55px;
    }

    .develop-descrip {
        margin-top: 50px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        width: 80%;
    }

    .develop-projects-wrapper {
        width: 50%;
        display: flex;
        gap: 1em;
        overflow: hidden;
        position: relative;
    }

    .develop-projects-card-div {
        margin-top: 20px;
        min-width: 50%;
        min-height: 400px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
        gap: 2rem;
        justify-content: center;
        z-index: 50;
    }

    .develop-stage-bottom-div {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(0, 0, 0);
        height: 80px;
        position: relative;
        margin-top: 80px;
        z-index: 50;
    }

    .develop-stage-skills-header {
        color: #389CF4;
        font-weight: 700;
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid black;
    }

    .develop-stage-skills-list {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .develop-skill-wrapper {
        /* background-color: #389CF4; */
        width: 10%;
        height: 100%;
        border-right: 1px solid black;
    }

    .skill {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
    }

    #skill-icon {
        color: rgb(75, 75, 75);
    }

    .skill p {
        font-size: 13px;
        padding-top: 10px;
        font-weight: 300;
    }

}


@media screen and (max-width: 960px) {
      
}