@media screen and (min-width: 961px) {
    .projects-card-wrapper {
        background-color: white;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    .projects-card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .project-header {
        font-size: 14px;
        font-weight: 600;
        color: #A649B3;
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
    }

    .projects-gif {
        width: 100%;
        object-fit: contain;
        border: 1px solid rgb(212, 212, 212);
    }

    .projects-card-text {
        /* background-color:rgba(50, 50, 93, 0.25); */
        width: 80%;
        margin-top: 30px;
    }

    .projects-card-header {
        font-weight: 600;
        letter-spacing: 0.1em;
        font-size: 11px;
        padding-bottom: 5px;
    }

    .projects-card-name {
        font-weight: 600;
        padding-bottom: 20px;
        color: #A649B3;
    }

    .projects-description {
        font-size: 13px;
        font-weight: 300;
        line-height: 1.3;
    }

    .projects-links-wrapper {
        width: 80%;
        margin-top: 30px;
        display: flex;
        gap: 2rem;
    }

    .projects-link {
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.1em;
        background-color: rgb(241, 241, 241);
        display: flex;
        width: 65px;
        height: 25px;
        border-radius: 50px;
        align-items: center;
        justify-content: center;
    }

    .projects-link:hover {
        background-color: rgb(77, 77, 77);
        color: white;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

}