@media screen and (min-width: 961px) {
    .advertise-outer-div {
        background-color: rgb(241, 241, 241);
        position: relative;
        width: 100vw;
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px
    }

    .advertise-inner-div {
        /* background-color: rgb(161, 214, 214); */
        display: flex;
        /* flex-direction: column; */
        margin-top: 50px;
        position: relative;
        min-width: 1200px;
        max-width: 1200px;
    }

    .advertise-left-div {
        display: flex;
        flex-direction: column;
        width: 40%;
    }


    .advertise-right-div {
        /* background-color: aquamarine; */
        width: 60%;
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 4rem;
        position: relative;
    }


    .advertise-line {
        width: 10px;
        margin-left: 3%;
        margin-top: 20px;
    }

    .advertise-time {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        width: 180px;
        height: 50px;
        background-color: white;
        border-radius: 50px;
    }

    .advertise-text-wrapper {
        /* background-color: antiquewhite; */
        width: 80%;
        margin-left: 15px;
        margin-top: 20px;
    }

    .advertise-header {
        font-size: 50px;
        font-weight: 200;
        line-height: 1.2;
    }

    .advertise-header span {
        font-weight: 600;
        color: purple
    }

    .advertise-descrip {
        margin-top: 50px;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.3;
    }

    .um-wrapper-inactive, .mec-wrapper-inactive {
        width: 200px;
        height: 200px;
        background-color: white;
        background-image: url("../../../images/code.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        content-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        cursor: pointer;
    }

    .um-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        object-fit: contain;
        padding-bottom: 20px;
    }

    .um-wrapper-active, .mec-wrapper-active {
        width: 200px;
        height: 330px;
        background-color: white;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        border-radius: 30px;
        position: relative;
    }

    .agency-wrapper {
        position: relative;
    }

    .agency-close-button-active {
        font-size: 2em;
        position: absolute; 
        top: 15px;
        right: 0;
        z-index: 50;
        cursor: pointer;
    }

   .agency-close-button-inactive {
        display: none;
    }

    .agency-details-wrapper {
        /* background-color: aqua; */
        margin-top: 40px;
    }

    .agency-name {
        padding-bottom: 20px;
    }

    .agency-details-header {
        font-weight: 600;
        letter-spacing: 0.1em;
        font-size: 12px;
        padding-bottom: 20px;
        color: purple;
    }

    .agency-details {
        font-weight: 300;
        padding-bottom: 20px;
    }

    
}