@media screen and (min-width: 961px) {
    .market-outer-div {
        /* background-color: rgb(241, 241, 241); */
        position: relative;
        min-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        border-top: 2px solid black;
    }

    .market-inner-div {
        background-color: white;
        min-width: 1200px;
        max-width: 1600px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
        overflow: hidden;
        border-right: 2px solid black;
        border-left: 2px solid black;
    }

    .market-top-div {
        border-bottom: 2px solid black;
    }

    .market-top-div {
        /* background-color: antiquewhite; */
        width: 100%;
        min-height: 70vh;
        display: flex;
    }

   .market-bottom-div {
        /* background-color: antiquewhite; */
        width: 100%;
        min-height: 50vh;
        display: flex;
    }

    .market-text-wrapper {
        /* background-color: antiquewhite; */
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        max-width: 1200px;
    }

    .market-header-div {
        display: inline-block;
        position: relative;
        padding: 3em 4em;
        width: 80%; 
    }

    .market-header {
        font-size: 5.5em;
        font-weight: 600;
        line-height: 1.2;
    }


    .market-details-wrapper {
        background-color: rgb(34, 34, 34);
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
    }

    .market-details-wrapper > div {
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: 50px;
    }

    .youtube-header {
        /* background-color: red; */
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        color: white;
        font-size: 28px;
        font-weight: 300;
        line-height: 1.3;
        text-align: center;
    }

    .youtube-header a {
        font-weight: 600;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        color: white;
    }

    .resume-email {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        padding-left: 10px;
        color: #389CF4;
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }

    
}

@media screen and (max-width: 960px) {
     .market-outer-div {
        /* background-color: rgb(241, 241, 241); */
        position: relative;
        min-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        border-top: 2px solid black;
    }

    .market-inner-div {
        background-color: white;
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
        overflow: hidden;
        border-right: 2px solid black;
        border-left: 2px solid black;
    }

    .market-top-div {
        width: 100%;
        /* min-height: 70vh; */
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-bottom: 2px solid black;
        padding-bottom: 5em;
    }


    .market-text-wrapper {
        display: flex;
        flex-direction: column;
    }

    .market-header-div {
        width: 100%;
        height: 100%; 
        display: inline-block;
        position: relative;
        padding: 1.5em;
        margin-top: 50px;
    }

    .market-header {
        font-size: 3em;
        font-weight: 600;
        line-height: 1.2;
    }

    .market-descrip-div {
        width: 85%; 
        display: inline-block;
        position: relative;
        padding: 1.5em;
    }


    .market-details-wrapper {
        background-color: rgb(34, 34, 34);
        width: 100%;
        max-height: 100%;
        display: flex;
        overflow: hidden;
        position: relative;
    }

    .market-details-wrapper > div {
        width: 50%;
        display: flex;
    }

    .youtube-header {
        /* background-color: red; */
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        color: white;
        font-size: 28px;
        font-weight: 300;
        line-height: 1.3;
        text-align: center;
    }

    .youtube-header a {
        font-weight: 600;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        color: white;
    }

    .resume-email {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        padding-left: 10px;
        color: #389CF4;
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }

    
}