@media screen and (min-width: 961px) {

    .splash-outer-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    .splash-inner-div {
        /* background-color: rgb(101, 206, 206); */
        min-width: 1200px;
        max-width: 1900px;
        height: 100vh;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .splash-footer-wrapper {
        left: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70%;
        justify-content: space-between;
    }

    .footer-links-wrapper {
        /* background-color: bisque; */
        display: flex;
        gap: 1em;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-copytag {
        font-size: 12px;
        font-weight: 200;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .footer-icon-wrapper {
        background-color: rgb(241,241,241);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-icon-wrapper:hover, .footer-icon-wrapper:hover .footer-icon {
       background-color: rgb(190, 190, 190);
       fill: white;
       cursor: pointer;
    }

    .footer-icon {
       font-size: 1.3em;
       fill: gray;
    }

    .splash-top-div {
       height: 30%;
       display: flex;
       flex-direction: column;
       align-items: center;
       overflow: hidden;
    }

    .splash-top-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .splash-bottom-div {
        padding-top: 5%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .splash-header {
        text-align: center;
        font-size: 50px;
        font-weight: 200;
        line-height: 1.2;
    }

    .splash-header span {
        text-align: center;
        font-weight: 600;
        color: #952d95
    }

    .splash-descrip {
        margin-top: 10%;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        width: 55%;
        line-height: 1.4;
    }



}

/* MOBILE */

@media screen and (max-width: 960px) {

    .splash-outer-div {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    .splash-inner-div {
        /* background-color: rgb(101, 206, 206); */
        /* height: 700px; */
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .copytag {
        display: none;
    }

    .splash-top-div {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .splash-header {
        text-align: center;
        font-size: 50px;
        font-weight: 200;
        line-height: 1.2;
    }

    .splash-header span {
        text-align: center;
        font-weight: 600;
        color: #A649B3
    }

    .splash-descrip {
        text-align: center;
        margin-top: 10%;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;
    }
   
}
