@media screen and (min-width: 961px) {

    .splash-outer-div {
        min-width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-top: 30px; */
    }

    .splash-inner-div {
        /* background-color: rgb(101, 206, 206); */
        min-width: 1200px;
        max-width: 1900px;
        height: 760px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        
        /* overflow: hidden; */
    }

    .splash-footer-wrapper {
        left: 0;
        top: 50px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70%;
        justify-content: space-between;
    }

    .footer-links-wrapper {
        /* background-color: bisque; */
        display: flex;
        gap: 1em;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-copytag {
        font-size: 12px;
        font-weight: 200;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .footer-icon-wrapper {
        background-color: rgb(241,241,241);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-icon-wrapper:hover, .footer-icon-wrapper:hover .footer-icon {
       background-color: rgb(190, 190, 190);
       fill: white;
       cursor: pointer;
    }

    .footer-icon {
       font-size: 1.3em;
       fill: gray;
    }

    .splash-top-div {
       height: 35%;
       padding: 4% 0;
       display: flex;
       flex-direction: column;
       align-items: center;
       overflow: hidden;
    }

    .splash-top-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .splash-bottom-div {
        padding: 5% 0;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .splash-header {
        text-align: center;
        font-size: 40px;
        font-weight: 200;
        line-height: 1.2;
    }

    .splash-header span {
        text-align: center;
        font-weight: 600;
        color: #952d95;
        font-size: 65px;
        font-family: 'Poppins', sans-serif;
    }

    .splash-descrip {
        /* margin-top: 10%; */
        text-align: center;
        font-size: 13px;
        font-weight: 300;
        width: 55%;
        line-height: 1.4;
        font-family: 'Poppins', Helvetica, sans-serif;
    }

    .splash-descrip span {
        font-weight: 600;
        color: #952d95
    }


}

/* MOBILE */

@media screen and (max-width: 960px) {

   
}
