@media screen and (min-width: 961px) {

    .splash-outer-div {
        min-width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        /* margin-top: 30px; */
    }

    .splash-inner-div {
        /* background-color: rgb(101, 206, 206); */
        min-width: 1200px;
        max-width: 1600px;
        height: 100vh;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        position: relative;
        border-right: 2px solid black;
        border-left: 2px solid black;
    }

    .splash-footer-wrapper {
        /* background-color: red; */
        left: 0;
        top: 10vh;
        height: 400px;
        width: 50px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer-copytag {
        font-size: 15px;
        font-weight: 200;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .splash-top-div {
       height: fit-content;
       margin-top: 5vh;
       display: flex;
       max-width: 1600px;
       align-items:flex-end;
       gap: 5em;
    }

    .splash-header-wrapper {
        display: inline-block;
        /* background-color: cadetblue; */
        max-width: 800px;
        height: 100%;
        overflow: hidden;
        margin-left: 50px;
    }

    .splash-header-name-wrapper {
        /* border: 1px solid black; */
        overflow: hidden;
        height: 200px;
    }

    .splash-header-name {
        font-size: 14em;
        font-weight: 600;
    }

    .splash-descrip {
        /* background-color: antiquewhite; */
        display: block;
        width: 550px;
        height: 200px;
        font-size: 27px;
        line-height: 1.3;
        font-weight: 300;
        /* border-bottom: 2px solid black; */
    }

    #splash-scroll {
        /* background-color: aliceblue; */
        /* border: 2px solid black; */
        margin-top: 50px;
    }

}

/* MOBILE */

@media screen and (max-width: 960px) {
    .splash-outer-div {
        min-width: 100vw;
        /* min-height: 100vh; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        overflow: hidden;
        position: relative;
        /* margin-top: 30px; */
    }

    .splash-inner-div {
        /* background-color: rgb(101, 206, 206); */
        width: 90vw;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        position: relative;
        border-right: 2px solid black;
        border-left: 2px solid black;
    }

    .footer-copytag, .splash-footer-wrapper {
        display: none;
    }

    .splash-top-div {
       /* height: 35%; */
       margin-top: 10vh;
       display: flex;
       flex-direction: column;
       gap: 1em;
       width: 90vw;
    }

    .splash-header-wrapper {
        display: inline-block;
        /* background-color: cadetblue; */
        height: 100%;
        overflow: hidden;
        margin-left: 5%;
    }

    .splash-header-name-wrapper {
        /* border: 1px solid black; */
        overflow: hidden;
        height: 150px;
    }

    .splash-header-name {
        font-size: 8em;
        font-weight: 600;
    }

    .splash-descrip {
        /* background-color: antiquewhite; */
        display: block;
        width: 75vw;
        /* height: 300px; */
        font-size: 20px;
        line-height: 1.5;
        font-weight: 300;
        padding-bottom: 100px;
        margin-left: 8%;
    }

     #splash-scroll {
        margin-top: 30px;
    }
   
}
