@media screen and  (min-width: 961px) {
    .timeline-outer-div {
        /* background-color: #f0f0f0; */
        min-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeline-stages-wrapper {
        display: flex;
        justify-content: space-between;
        min-width: 80%;
        /* overflow: hidden; */
    }

    .timeline-stage-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* overflow: hidden; */
    }

    .timeline-stage-time {
        font-size: 12px;
        font-weight: 600;
        width: 170px;
        height: 40px;
        letter-spacing: 0.1em;
        border-radius: 50px;
        border: 1px solid rgb(192, 192, 192);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stage-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeline-line {
        height: 50px;
        width: 10px;
    }

    .timeline-stage-descrip {
        text-align: center;
        line-height: 1.2;
        width: 100%;
        font-size: 13px;
        padding: 10px 0px;
    }

    .timeline-stage-descrip span {
        font-weight: 600;
        color: #952d95
    }

    .timeline-stage-img {
        margin-top: 5%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }

   .timeline-stage-img:hover {
       cursor: pointer;
   }

 
}

@media screen and  (max-width: 960px) {
    .timeline-outer-div {
        /* background-color: #f0f0f0; */
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeline-stages-wrapper {
        display: flex;
        margin-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
        gap: 3rem;
        min-width: 80%;
        overflow: hidden;
    }

    .timeline-stage-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .timeline-stage-time {
        font-size: 12px;
        font-weight: 600;
        width: 170px;
        height: 40px;
        letter-spacing: 0.1em;
        border-radius: 50px;
        border: 1px solid rgb(192, 192, 192);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stage-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .timeline-line {
        height: 50px;
        width: 10px;
    }

    .timeline-stage-descrip {
        text-align: center;
        line-height: 1.2;
        width: 100%;
        font-size: 13px;
        padding: 10px 0px;
    }

    .timeline-stage-descrip span {
        font-weight: 600;
        color: #952d95
    }

    .timeline-stage-img {
        margin-top: 5%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }


}