@media screen and  (min-width: 961px) {
    .timeline-outer-div {
        /* background-color: #f0f0f0; */
        min-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeline-stages-wrapper {
        display: flex;
        justify-content: space-between;
        min-width: 80%;
    }

    .timeline-stage-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeline-stage-time {
        font-size: 12px;
        font-weight: 600;
        width: 170px;
        height: 40px;
        letter-spacing: 0.1em;
        border-radius: 50px;
        border: 1px solid rgb(192, 192, 192);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stage-wrapper {
        display: flex;
        flex-direction: column;
    }

    .timeline-line {
        height: 60px;
        width: 12px;
    }

    .timeline-stage-time:hover {
        background-color: rgb(228, 220, 228);
        border: none;
        cursor: pointer;
    }

    .timeline-stage-descrip {
        text-align: center;
        line-height: 1.2;
        width: 100%;
        font-size: 13px;
        padding: 10px 0px;
    }

    .timeline-stage-descrip span {
        font-weight: 600;
        color: #A649B3
    }

    .timeline-stage-img {
        margin-top: 5%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }

   .timeline-stage-img:hover {
       cursor: pointer;
   }

 
}

@media screen and  (max-width: 960px) {
      .timeline-outer-div {
        /* background-color: #f0f0f0; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeline-stages-wrapper {
        margin-top: 50px;
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }

    .timeline-stage-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeline-stage-img {
        margin-top: 10%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }

   .timeline-stage-time {
        font-size: 12px;
        font-weight: 600;
        width: 180px;
        height: 30px;
        letter-spacing: 0.1em;
        border-radius: 50px;
        border: 1px solid rgb(192, 192, 192);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .timeline-stage-descrip {
        text-align: center;
        line-height: 1.2;
        width: 100%;
        font-size: 13px;
        padding: 10px 0px;
    }

    .timeline-stage-descrip span {
        font-weight: 600;
        color: #A649B3
    }


}