@media screen and (min-width: 961px) {

    .splash-outer-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    .splash-inner-div {
        /* background-color: rgb(101, 206, 206); */
        min-width: 1200px;
        max-width: 1600px;
        height: 700px;
        display: flex;
        
    }

    .splash-left-div {
        /* background-color: rgba(220, 212, 228, 0.247); */
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        width: 30%;
    }

    .splash-header-div > h2 {
        font-size: 40px;
        font-weight: 300;
        line-height: 1.5;
    }

    .splash-name {
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: #5552a1;
    }

    .splash-header-div {
        animation: left-div 3s forwards;
    }

    @keyframes left-div {
        0% { opacity: 0;}
        100% { opacity: 1;}
    }

    .splash-descrip {
        margin-top: 20px;
        font-weight: 300;
        line-height: 1.4;
        width: 250px;
    }


    .splash-right-div {
        display: flex;
        width: 70%;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }

}

/* MOBILE */

@media screen and (max-width: 960px) {

    .splash-outer-div {
        position: relative;
        width: 100vw;
    }

    .splash-inner-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    .splash-left-div {
        width: 85%;
        display: flex;
        height: 40%;
    }

    .splash-header-div h2 {
        margin-top: 50px;
        font-size: 45px;
        font-weight: 300;
        line-height: 1.5;
    }

    .splash-name {
        font-size: 70px;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: #5552a1;
    }

    .splash-descrip {
        margin-top: 20px;
        font-weight: 300;
        line-height: 1.4;
        width: 80%;
        font-size: 17px;
    }

    .splash-right-div {
        width: 85%;
        display: flex;
        margin-top: 50px;
    }


}
