@media screen and (min-width: 961px) {

    .splash-outer-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    .splash-inner-div {
        /* background-color: rgb(101, 206, 206); */
        min-width: 1200px;
        max-width: 1600px;
        height: 700px;
        display: flex;
        position: relative
    }

    .copytag {
        font-size: 10px;
        font-weight: 200;
        top: 10%;
        position: absolute;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .splash-left-div {
        /* background-color: aqua; */
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .headshot-img {
        max-width: 650px;
        position: absolute;
        top: 35%
    }

    .name-header {
        font-size: 50px;
        font-weight: 200;
        line-height: 1.2;
        position: absolute;
        top: 20%;
        left: 10%
    }

    .name-header span {
        font-weight: 600;
        color: purple
    }
   

}

/* MOBILE */

@media screen and (max-width: 960px) {

    .splash-outer-div {
        position: relative;
        width: 100vw;
    }

    .splash-inner-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    .splash-left-div {
        /* background-color: aqua; */
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headshot-img {
        max-width: 350px;
        position: absolute;
        top: 20%
    }


}
