@media screen and  (min-width: 961px) {
    .timeline-outer-div {
        /* background-color: #f0f0f0; */
        min-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeline-stages-wrapper {
        display: flex;
        justify-content: space-between;
        min-width: 80%;
    }

    .timeline-stage-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeline-stage-time {
        font-size: 12px;
        font-weight: 600;
        width: 170px;
        height: 40px;
        border-radius: 50px;
        border: 1px solid rgb(192, 192, 192);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .timeline-stage-time:hover {
        background-color: rgb(228, 220, 228);
        border: none;
        cursor: pointer;
    }

    .timeline-stage-img-div {
        background-color: antiquewhite;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .timeline-stage-img {
        margin-top: 5%;
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
    }

   .timeline-stage-img:hover {
       cursor: pointer;
   }

   .timeline-stage-reveal {
        background-color: gray;
        width: 50%;
        position: absolute;
        top: 0;
    }
   

 
}

@media screen and  (max-width: 960px) {
      .timeline-outer-div {
        /* background-color: #f0f0f0; */
        width: 80%;
        /* height: 500px; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeline-stages-wrapper {
        display: flex;
        flex-direction: column;
    }

    .timeline-stages-top, .timeline-stages-bottom {
        width: 100%;
        display: flex;
        gap: 2em;
    }

    .timeline-stage-img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }

   .timeline-stage-img:hover {
       width: 180px;
       height: 180px;
       cursor: pointer;
   }



}