@media screen and (min-width: 961px) {
    .advertise-outer-div {
        /* background-color: rgb(44, 44, 44); */
        position: relative;
        width: 100vw;
        min-height: 850px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        border-top: 1px solid black;
    }

    .advertise-inner-div {
        display: flex;
        position: relative;
        min-width: 1200px;
        max-width: 1200px;
        height: 800px;
        overflow: hidden;
    }

    .advertise-left-div {
        display: flex;
        flex-direction: column;
        width: 40%;
    }


    .advertise-right-div {
        width: 60%;
        display: flex;
        justify-content: center;
        gap: 3rem;
        position: relative;
        overflow: hidden;
        height: 500px;
    }


    .advertise-line {
        width: 10px;
        margin-left: 3%;
        margin-top: 20px;
    }

    .advertise-time {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        width: 180px;
        height: 50px;
        background-color: rgb(241, 241, 241);
        font-family: 'Poppins', Helvetica, sans-serif;
    }

    .advertise-text-wrapper {
        width: 80%;
        margin-left: 15px;
        margin-top: 20px;
    }

    .advertise-header {
        font-size: 50px;
        font-weight: 200;
        line-height: 1.2;
    }

    .advertise-header span {
        font-weight: 300;
        color: #389CF4;
        text-transform: uppercase;
    }

    .advertise-descrip {
        margin-top: 50px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.3;
    }

    .advertise-cta {
        position: absolute;
        top: 80px;
        left: 250px;
        font-weight: 600;
        letter-spacing: 0.15em;
        font-size: 12px;
    }

    .um-wrapper-inactive, .mec-wrapper-inactive, .draft-wrapper-inactive {
        width: 200px;
        height: 200px;
        background-color: white;
        content-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: 1px solid rgb(34, 34, 34);
        outline-offset: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .um-wrapper-inactive {
        background-image: url("../../../../images/splash/advertise.jpeg");  
    }

    .mec-wrapper-inactive {
        background-image: url("../../../../images/advertise/jeans.jpg");
    }

    .draft-wrapper-inactive {
        background-image: url("../../../../images/advertise/pharma.jpg");
    }

    .um-wrapper-inactive:hover, .mec-wrapper-inactive:hover, .draft-wrapper-inactive:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        outline: 6px solid #389CF4;
        outline-offset: 4px;
        transition: all 0.2s;
        transition-timing-function: ease-in-out;
    }

    .um-logo {
        width: 40px;
        object-fit: contain;
    }

    .um-wrapper-active, .mec-wrapper-active, .draft-wrapper-active {
        width: 200px;
        height: 330px;
        background-color: white;
        /* display: flex; */
        border: 2px solid black;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }

    .agency-outer-wrapper {
        display: flex;
        gap: 3em;
        position: relative;
        height: 200px;
        margin-top: 160px;
    }

    .agency-wrapper {
        display: flex;
        position: relative;
        height: 330px;
    }

    .agency-close-button-active {
        font-size: 2em;
        position: absolute; 
        bottom: 30px;
        left: 85px;
        z-index: 50;
        cursor: pointer;
    }

   .agency-close-button-inactive {
        display: none;
    }

    .agency-details-wrapper {
        /* background-color: aqua; */
        margin-top: 50px;
        margin-left: 20px;
        position: relative;
        width: 80%;
    }

    .bullet-point {
        font-size: 8px;
        margin-top: 5px;
    }

    .agency-role-wrapper {
        /* background-color: #ca5bca; */
        display: flex;
        gap: 1rem;
        line-height: 1.3;
        padding-bottom: 10px;
    }

    .agency-role-wrapper h1 {
        font-size: 13px;
        font-weight: 300;
    }

    .agency-role-wrapper span {
        font-size: 13px;
        font-weight: 600;
    }

    .agency-logo-div {
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: -20px;
        left: 75px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .agency-name {
        font-weight: 600;
        padding-bottom: 10px;
    }

    .agency-time {
        font-size: 12px;
        padding-bottom: 30px;
        font-family: 'Poppins', Helvetica, sans-serif;
    }

    .agency-details-header {
        font-weight: 600;
        letter-spacing: 0.1em;
        font-size: 11px;
        padding-bottom: 20px;
        color: #389CF4
    }

    .agency-details {
        font-weight: 300;
        font-size: 14px;
        padding-bottom: 20px;
    }

    .advertise-brands-wrapper {
        position: absolute;
        top: 75%;
        left: 15px;
        height: 100px;
    }

    .advertise-brands-header {
        font-weight: 600;
        color: #389CF4;
        letter-spacing: 0.15em;
    }

    .advertise-brands {
        display: flex;
        gap: 2em;
    }

    .advertise-brand-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        width: 130px;
        height: 50px;
        background-color: rgb(241, 241, 241);
        border: 1px solid black;
    }

    .brand-logo {
        width: 80px;
    }

    .leejeans-logo {
        width: 30px;
    }

    
}

@media screen and (max-width: 960px) {
   

    
}