@media screen and (min-width: 961px) {

    #scroll-header {
        font-weight: 600;
        cursor: pointer;
        font-size: 30px;
        font-weight: 300;
        color: gray;    
        opacity: 0.5;
        font-family: 'Staatliches', cursive;
    }

    #scroll-header:hover {
        opacity: 1;
        color: #389CF4;
        font-size: 35px;
        transition: all 0.2s ease-in-out;
    }

    #scroll-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
       
    }

    #scroll-down-icon {
        font-size: 1.3em;
        padding-top: 10px;
        z-index: 50;
    }

    #scroll-down-icon:hover {
        font-size: 1.3em;
        fill: #389CF4;
        opacity: 1;
    }

}


@media screen and (max-width: 960px) {
  
}

