@media screen and (min-width: 961px) {
    #splash-scroll, #develop-scroll, #advertise-scroll, #timeline-scroll {
        /* background-color: aqua; */
        width: 70px;
        height: 70px;
        /* height: 15%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

     #splash-scroll:hover, #develop-scroll:hover, #advertise-scroll:hover, #timeline-scroll:hover {
        font-weight: 600;
        color: #389CF4;
        transition: all 0.3s;
        cursor: pointer;
     }

    #timeline-scroll {
        /* margin-top: 80px; */
    }

    #develop-scroll {
        margin-top: 40px;
    }

    #market-scroll {
        height: 100px;
        margin-top: 80px;
    }

    .scroll-header {
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 10px;
    }

    #scroll-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #scroll-down-icon {
        font-size: 20px;
        fill: #389CF4;
    }
}


@media screen and (max-width: 960px) {
  
}

