@media screen and (min-width: 961px) {
    .footer-outer-div {
        background-color: aqua;
        margin-top: 70px;
        width: 80px;
        height: 800px;
        position: fixed;
        display: flex;
        justify-content: center;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .footer-inner-div {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-left-div {
        /* background-color: bisque; */
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        margin-top: 20px;
        font-size: 14px;
        line-height: 1.5;
        display: flex;
        gap: 2em;
    }
}

@media screen and (max-width: 960px) {
   
}