@media screen and (min-width: 961px) {
    /* DEVELOP COMPONENT */
    .develop-outer-div {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px
    }

    .develop-inner-div {
        /* background-color: rgb(161, 214, 214); */
        min-width: 1200px;
        max-width: 1800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5em;
        margin-top: 30px;
        position: relative;
    }

    .develop-top-div {
        display: flex;
        width: 90%;
        justify-content: center;
        border-radius: 80px;
    }

    .develop-img-div {
        position: relative;
    }

    .develop-img {
        width: 650px;
        height: 650px;
        border-radius: 50%;
        object-fit: cover;
    }

    .develop-left-div {
        display: flex;
        flex-direction: column;
        width: 700px;
    }

    .develop-tag-wrapper {
        width: 200px;
    }

    .develop-tag {
        color: #c0b1a5;
        font-size: 30px;
        font-weight: 300;
        width: 200px;
    }

    .develop-stage-wrapper {
        /* background-color: red; */
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        width: 450px;
        z-index: 20;
        margin-left: 30px;
    }

    .develop-stage {
        font-size: 45px;
        font-weight: 300;
        padding: 20px 0;
        line-height: 1.2;
    }

    .develop-stage span {
        color: #5552a1;
        font-weight: 600;
    }

    .develop-stage-descrip {
        font-weight: 300;
        line-height: 1.3;
        font-size: 15px;
        padding-top: 20px;
    }


    .develop-stage-skills-div {
        display: flex;
        gap: 5em;
    }

    .develop-stage-skills-header {
        font-weight: 700;
        letter-spacing: 0.1em;
        background-color: #f5ece6;
        border-radius: 40px;
        width: 85px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .develop-tag-line {
        /* background-color: #333161; */
        height: 50px;
        margin: 10px 0 10px 50px;
        border-left: 1px solid #373a40;;
    }


    .develop-stage-time {
        font-weight: 300;
        font-size: 13px;
        margin-left: 20px;
        letter-spacing: 0.1em;
        padding: 10px 0;
        background-color: #f5ece6;
        border-radius: 40px;
        display: flex;
        justify-content: center;
    }

    .develop-stage-skills-list {
        /* background-color: aqua; */
        display: flex;
        gap: 3em;
    }

    .skill {
        font-size: 13px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }

    .skill-icon {
        font-size: 25px;
    }

    .develop-bottom-div {
        width: 1300px;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .develop-projects-div {
        width: 98%;
        height: 80%;
        border-radius: 40px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .develop-projects-wrapper {
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
    }

    .develop-project {
        /* background-color: white; */
        width: 32%;
    }

    .project-title {
        font-weight: 700;
        font-size: 18px;
        color: #5552a1
    }

    .project-descrip {
        font-weight: 300;
        line-height: 1.3;
        font-size: 14px;
        margin-top: 10px;
        width: 85%;
    }

    .project-links-wrapper {
        width: 170px;
        height: 30px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    .project-link {
        width: 70px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #373a40;
        border-radius: 40px;
        font-weight: 500;
        font-size: 14px;
    }

    .project-link:hover {
        background-color: #333161;
        border: none;
        color: white;
    }

}


@media screen and (max-width: 960px) {
    .develop-outer-div {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px
    }

    .develop-inner-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5em;
        margin-top: 30px;
        position: relative;
    }

    .develop-top-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 80px;
        width: 80%;
    }

    .develop-img {
        width: 350px;
        height: 350px;
        object-fit: cover;
    }

    .develop-tag {
        color: #c0b1a5;
        font-size: 30px;
        font-weight: 300;
    }

    .develop-stage-wrapper {
        /* background-color: red; */
        display: flex;
        margin-top: 50px;
        flex-direction: column;
        width: 300px;
    }

    .develop-stage {
        font-size: 45px;
        font-weight: 300;
        padding: 20px 0;
        line-height: 1.2;
    }

    .develop-stage span {
        color: #5552a1;
        font-weight: 600;
    }

    .develop-stage-descrip {
        font-weight: 300;
        line-height: 1.3;
        font-size: 15px;
        padding-top: 20px;
    }


    .develop-stage-skills-div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2em;
        width: 300px;
    }

    .develop-stage-skills-header {
        font-weight: 700;
        letter-spacing: 0.1em;
        background-color: #f5ece6;
        border-radius: 40px;
        width: 85px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .develop-logo-div {
        margin-top: 40px;
        height: 80px;
        border-left: 3px solid #f5ece6;
    }

    .aa-logo {
        width: 150px;
        margin-left: 15px;
        margin-top: 5px;
    }


    .develop-stage-time {
        font-weight: 300;
        font-size: 13px;
        margin-left: 20px;
        letter-spacing: 0.1em;
        padding: 10px 0;
    }

    .develop-stage-skills-list {
        /* background-color: aqua; */
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        gap: 3em;
    }

    .skill {
        font-size: 13px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }

    .skill-icon {
        font-size: 25px;
    }

    .develop-bottom-div {
        width: 1300px;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .develop-projects-div {
        /* background-color: #f5ece6; */
        width: 98%;
        height: 80%;
        border-radius: 40px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .develop-projects-wrapper {
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
    }

    .develop-project {
        /* background-color: white; */
        width: 32%;
    }

    .project-title {
        font-weight: 700;
        font-size: 18px;
        color: #5552a1
    }

    .project-descrip {
        font-weight: 300;
        line-height: 1.3;
        font-size: 14px;
        margin-top: 10px;
        width: 85%;
    }

    .project-links-wrapper {
        width: 170px;
        height: 30px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    .project-link {
        width: 70px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #373a40;
        border-radius: 40px;
        font-weight: 500;
        font-size: 14px;
    }

    .project-link:hover {
        background-color: #333161;
        border: none;
        color: white;
    }
}