.experience-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-bar {
    position: fixed;
    left: 0;
    margin-top: 90px;
    width: 50px;
    height: 260px;
    background-color: #f5ece6;
    /* border-radius: 40px; */
    z-index: 100;
}


/*  MARKET COMPONENT  */

.market-outer-div {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.market-inner-div {
    /* background-color: rgb(161, 214, 214); */
    min-width: 1200px;
    max-width: 1600px;
    height: 800px;
    display: flex;
    align-items: center;
    position: relative;
    gap: 1em;
}

.market-left-div, .market-right-div {
    /* background-color: aqua; */
    height: 100%;
    width: 50%;
}

.market-stage-descrip-div {
    /* background-color: blanchedalmond; */
    width: 250px;
    height: 250px;
    position: absolute;
    right: 55%;
    top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.3;
    font-weight: 300;
    gap: 1em;
}

.market-youtube-div {
    /* background-color: aqua; */
    position: absolute;
    width: 45%;
    height: 300px;
    top: 40%;
}

.market-youtube-div h1 {
    margin-left: 45px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
}

.market-youtube-div a {
    margin-left: 45px;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    cursor: pointer;
}

.market-youtube-div span {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.youtube-div {
    position: absolute;
    top: 40%;
    left: 8%;

}



.market-skills-list-div {
    background-color: #f5ece6;
    margin-top: 80px;
    width: 90%;
    height: 650px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
}

.samsung-logo {
    font-size: 100px;
    margin-bottom: -30px;
}

.bullet-point {
    font-size: 8px;
}

.market-skills-list {
    /* background-color: beige; */
    width: 85%;
    margin-top: 50px;
    font-size: 14px;
    font-weight: 300;
}

.market-skill {
    line-height: 1.3;
    display: flex;
}

.market-skill-text {
    padding-left: 10px
}

